[submodule "code/external/box2d"]
	path = code/external/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "code/external/nlohmann_json"]
	path = code/external/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "code/external/renderer"]
	path = code/external/renderer
	url = https://github.com/Seger01/renderer.git
[submodule "code/external/SDL_mixer"]
	path = code/external/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "code/external/SDL"]
	path = code/external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "code/external/soloud"]
	path = code/external/soloud
	url = https://github.com/jarikomppa/soloud.git
