# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# latex files
*.pdf
*.synctex.gz
*.aux
*.toc
*.log
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.run.xml

#ignore build folder
code/build/
code/.cache
.cache

.vscode/

output.csv

code/external/tmxlite-master/**
output.csv
# ignore clagd cache
code/.cache

# ignore puml images
Diagrams/*.png
Diagrams/*.svg
docs/Diagrams/*.png
docs/Diagrams/*.svg

#ignore output folder
out/

#ignore compile_commands.json
code/compile_commands.json

html/
latex/
